BUCKET=maseltopf-site
DISTRIBUTION=E1234567890ABC
FORM_ENDPOINT=/api/forms
SITE_URL=https://restaurant-maseltopf.de
AWS_PROFILE=maseltopf
AWS_REGION=eu-central-1

MAIL_DOMAIN=restaurant-maseltopf.de
MAIL_FROM=noreply@restaurant-maseltopf.de
MAIL_TO=masel-topf@hotmail.com

GITHUB_REPO=kostia2231/mazel-topf
GITHUB_TOKEN=github_pat_...
ADMIN_KEY=
